* {
	font-family: 'Open Sans',sans-serif;
}

.title {
	color: #0077cb;
	font-size: 30px;
}

.sub-title {
	font-size: 15px;
	color: grey;
}

.wrapper-aside {
	width: 1000px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}